**/test
**/pycache
**/cache
**/build
**/bin
**/log
**/dist
*.log
*.project
*.pydevproject
*.pyc
*.egg*
**.idea**
**/.idea
**/venv
*.pytest_cache
*__pycache*
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
